@import "tailwindcss";

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-Regular"),
    url("./assets/fonts/NotoSans/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-Light"),
    url("./assets/fonts/NotoSans/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-Medium"),
    url("./assets/fonts/NotoSans/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-SemiBold"),
    url("./assets/fonts/NotoSans/NotoSansJP-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-Bold"),
    url("./assets/fonts/NotoSans/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansJP-ExtraBold"),
    url("./assets/fonts/NotoSans/NotoSansJP-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "NotoSans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
